package ${packageName}.mapper;

import java.util.List;
import org.apache.ibatis.annotations.Mapper;

import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${ClassName}Mapper {
    /**
     * 查询${functionName}
     * @param ${pkColumn.javaField} ${functionName}ID
     */
     ${ClassName} select${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 查询${functionName}列表
     * @param ${className} ${functionName}
     */
     List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * 新增${functionName}
     * @param ${className} ${functionName}
     */
     int insert${ClassName}(${ClassName} ${className});

    /**
     * 修改${functionName}
     * @param ${className} ${functionName}
     */
     int update${ClassName}(${ClassName} ${className});

    /**
     * 删除${functionName}
     * @param ${pkColumn.javaField} ${functionName}ID
     */
     int delete${ClassName}ById(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 批量删除${functionName}
     * @param ${pkColumn.javaField}s 需要删除的数据ID
     */
     int delete${ClassName}ByIds(${pkColumn.javaType}[] ${pkColumn.javaField}s);
}
