package ${packageName}.service;

import ${packageName}.service.BaseService;

import ${packageName}.dao.${ClassName}Dao;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends BaseService<${ClassName}, String, ${ClassName}Dao> {

}
